@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

:root {
  --color_bg:rgb(255, 255, 255);
  --color_code_bg:rgb(255, 255, 255);
  --color_text:rgb(24, 38, 40);
  --color_code_string:rgb(101, 204, 183);
  --color_code_function:rgb(101, 204, 183);
}

h1 {
  color: var(--color_text);
  font-weight: bold;
}

h2 {
  color: var(--color_text);
  font-weight: bold;
}

body {
  background:var(--color_bg);
  color: var(--color_text);
  font-family: 'Calibri', serif;
}

pre {
  background:var(--color_code_bg);
  color: var(--color_text);
  font-family: 'Calibri', serif;
}

pre code {
  background:var(--color_code_bg);
  color: var(--color_text);
  font-family: Consolas,monaco,monospace;
}

.hljs-string {
    color: var(--color_code_string);
}

.hljs-comment {
    color: var(--color_code_string);
    font-weight: bold;
}

.hljs-keyword {
    color: var(--color_code_string);
    font-weight: bold;
}

pre:not([class]) {
  background:var(--color_bg);
  color: var(--color_text);
  font-family: 'Calibri', serif;
}

/*font-style: italic;*/